# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#idea과 gradle
server/se7-server/.gradle/
server/se7-server/.idea/

server/se7-server_ssh/src/main/resources/application.yml

