# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
se7-server(손승현)/src/main/resources/application.yml
server/se7-server-(손승현)/src/main/resources/application.yml

#idea과 gradle
server/se7-server/.gradle/
server/se7-server/.idea/

server/se7-server-(손승현)/.gradle/
server/se7-server-(손승현)/.idea/