# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
server/se7-server/src/main/resources/application.yml
server/se7-server-(손승현)/src/main//resources/application.yml
server/se7-server-(손승현)/src/main/resources/application.yml
